* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--cl1);
}
:root {
  --cl0: rgb(122, 118, 118);
  --cl1: #000;
  --cl2: #2f5233;
  --cl3: #337b01;
  --cl4: #76b947;
  --cl5: #ffff;
}
header {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 100px;
}
.logo {
  text-decoration: none;
  color: var(--cl5);
  font-size: 25px;
  font-weight: 700;
}
.logo:hover {
  color: var(--cl3);
  font-weight: 900;
  transition: 1s;
}
.navbar a {
  text-decoration: none;
  color: var(--cl5);
  font-size: 17px;
  font-weight: 500;
  margin: 0 15px;
  padding-bottom: 5px;
  letter-spacing: 1px;
}
.navbar a:hover {
  border-bottom: 3px var(--cl3) solid;
  transition: 0, 8s;
}
#home-sec {
  color: var(--cl5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 500px;
}
#home-sec .sec-1  {
  position: relative;
  top: 70px;
  left: 170px;
}
.sec-1 p{
 font-size: 25px;
 line-height: 50px;
 font-weight: 700;
 margin-bottom: 30px;
 word-spacing: 5px;
 letter-spacing: 1px;
}
.sec-1 > a {
  text-decoration: none;
  color: var(--cl1);
  background-color: var(--cl4);
  padding: 10px 25px ;
  border-radius: 20px;

}
.sec-1 p span {
  font-size: 40px;
  color: var(--cl4);
}
.sec-1  ul  {
  display: flex;
  margin: 40px 0;
}
.sec-1 > ul > li {
  list-style: none;
  margin: 10px 15px;
  font-size: 30px;
}
.sec-1 > ul > li > a {
  color: var(--cl5);
 
} 
#home-sec .sec-2 {
  position: relative;
  top: 50px;
  right: 270px;
}
 #home-sec .sec-2 img {
  width: 300px;
}
#about-sec {
  color: var(--cl5);
  margin-top: 25px;
  padding: 40px 0;
}
.about-title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
}
.about-title p {
  font-size: 36px;
  color: var(--cl3);
  border-bottom: 2px var(--cl3) solid;
  font-weight: 700;
}
.about-p {
  padding: 20px 80px;
}
.about-p p {
  font-size: 20px;
  letter-spacing: 1px;
  word-spacing: 3px;
  text-align: center;
  line-height: 36px;
}
.about-p p i {
  color: var(--cl4);
  font-size: 23px;
  font-weight: 700;
}

#contact-sec {
  color: var(--cl5);
}
.contact-title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
}
.contact-title p {
  font-size: 36px;
  color: var(--cl3);
  border-bottom: 2px var(--cl3) solid;
  font-weight: 700;
}
form {
  width: 500px;
  position: relative;
  top: 50px;
  left: 150px;
  display: inline-block;
}
form table tr {
  height: 90px;
}
tr td {
  text-align: center;
  padding: 0 10px;
}

label {
  font-size: 20px;
  font-weight: 700;
}

input {
  padding: 15px 10px;
  border-radius: 20px;
  width: 300px;
  border: 2px var(--cl4) solid;
}
textarea {
  padding: 15px 10px;
  margin-top: 10px;
  border-radius: 20px;
  width: 300px;
  border: 2px var(--cl4) solid;
}
.send {
  padding: 10px 30px;
  background-color: var(--cl4);
  color: var(--cl1);
  border-radius: 20px;
}
.delete {
  padding: 10px 30px;
  background-color: var(--cl4);
  color: var(--cl1);
  border-radius: 20px;
  display: flex;
  align-items: flex-start;
}


.img-contact {
  float: right;
  position: relative;
  top: 60px;
  right: 250px;
}
.img-contact img {
  width: 400px;
  
}

footer {
  color: var(--cl5);
  border-top: 1px var(--cl1) solid;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 150px 0 30px 0;
}
footer .links1 {
  display: flex;
  list-style: none;
}
footer .links1 li {
  margin: 10px 15px;
  font-size: 28px;
}
.links1 li a {
  color: var(--cl5);
}

.links2 {
  display: flex;
  list-style: none;
}
.links2 li {
  margin: 5px 15px;
  font-size: 15px;
}
.links2 li a {
  color: var(--cl5);
  text-decoration: none;
}
footer p {
  color: var(--cl0);
  margin: 15px 0;
}
